$textColor: #2c2f3c;

$BtnColor: #e3ac00;
$highlightTextColor: rgb(255,78,51);
$headerImageDir: url("../img/m-h-night.jpg");
$mainBackground: rgb(33, 35, 47);
$galleryBgColor:rgb(60, 63, 78);
$footerBgColor: rgb(60, 63, 80);
$headingFontSize: 50px;
$sectionCardText: 0.9em;
$linkColor: #fff;
$linkFontSize: 15px;
$baseFont: 'Source Sans Pro', sans-serif;
$headerLogoFont: 'Fresca', sans-serif;
$cardTextColor: rgba(255,255,255, 0.7);
$bannerColorLeft:  #e3ac00;
$bannerColorRight: #942f50;
$linkFont: 'Hind', sans-serif;
$textColor: rgba(255,255,255, 0.7);
$sectionHeadingColor: #fff;
$bannerHeadColor: #fff;
$bannerStyleText: 'Fresca', sans-serif;
$footerStyleText: 'Fresca', sans-serif;
$mainHeadColor: white;
$textDescColor: rgba(255,255,255, 0.7);