
$textColor: #2c2f3c;

$BtnColor: rgb(105,153,0);
$highlightTextColor: #14a0c7;
$headerImageDir: url("../img/m-h-day.jpg");
$mainBackground: #fff;
$galleryBgColor: rgb(33,35,46);
$footerBgColor: $galleryBgColor;
$headingFontSize: 50px;
$sectionCardText: 0.9em;
$linkColor: #fff;
$linkFontSize: 15px;
$baseFont: 'Source Sans Pro', sans-serif;
$headerLogoFont: 'Hind', sans-serif;
$cardTextColor: rgba(255,255,255, 0.7);
$bannerColorLeft:  rgb(105,153,0);
$bannerColorRight: #2c5adb;
$linkFont: 'Hind', sans-serif;
$sectionHeadingColor: #000;
$bannerHeadColor: #2c2f3c;
$bannerStyleText: $baseFont;
$footerStyleText: $baseFont;
$mainHeadColor: #2c2f3c;
$textDescColor: #2c2f3c;
